@page "/"

<h1>SolarView</h1>

<p>SolarView provides the following features:</p>

<ul>Visualize the performance of your solar system as an average 24-hour period</ul>
<ul>Compare the performance against multiple date ranges</ul>


@*<SurveyPrompt Title="How is Blazor working for you?" />*@
