@page "/settings"
@using System.Security.Claims
@inject ILocalStorageService LocalStorage
@inject IChartDataCache ChartDataCache
@inject IAppState AppState

<h3>Settings</h3>

<table class="table">
  <thead>
    <tr>
      <th class="w-25" />
      <th class="w-75" />
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>User Name</td>
      <td>@UserPrincipleName</td>
      @*<td>
        <AuthorizeView>
          <Authorized>
            @context.User.Identity.Name
          </Authorized>
          <NotAuthorized>
            <a href="AzureAD/Account/SignIn">Log in</a>
          </NotAuthorized>
        </AuthorizeView>
      </td>*@
    </tr>

    <tr>
      <td>Site Id</td>
      @if (AppState.CurrentSite == null)
      {
        <td><a href="">You need to provide a Site Id</a></td>
      }
      else
      {
        <td>@AppState.CurrentSite.SiteId</td>
      }
    </tr>

    <tr>
      <td>Cached Charts</td>
      @switch (CachedChartItemCount)
      {
        case 0:
          <td>There are no charts</td>
          break;

        case 1:
          <td>@CachedChartItemCount chart</td>
          break;

        default:
          <td>@CachedChartItemCount charts</td>
          break;
      }
    </tr>

    @if (AppState.CurrentSite != null)
    {
      <tr>
        <td><button class="btn btn-primary w-50" @onclick="ClearLocalStorage">Clear Cache</button></td>
        <td>Detach from the current site and clear the cache</td>
      </tr>
    }

    <tr>
      <td><a class="btn btn-primary w-50" href="AzureAD/Account/SignOut">Sign Out</a></td>
      <td></td>
    </tr>

    @*shows another line*@
    <tr><td /></tr>

  </tbody>
</table>

@code {
  // provided by AuthorizeRouteView in App.razor
  // See also: https://docs.microsoft.com/en-us/aspnet/core/blazor/security/?view=aspnetcore-3.1#procedural-logic
  [CascadingParameter]
  private Task<AuthenticationState> AuthenticationStateTask { get; set; }

  // bindings
  private int CachedChartItemCount { get; set; }
  private string UserPrincipleName { get; set; }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      var user = (await AuthenticationStateTask).User;
      UserPrincipleName = user.Claims.Single(item => item.Type == ClaimTypes.Upn).Value;

      if (AppState.CurrentSite != null)
      {
        CachedChartItemCount = await ChartDataCache.GetCount(AppState.CurrentSite.SiteId);
        StateHasChanged();
      }
    }
  }

  private async Task ClearLocalStorage()
  {
    await LocalStorage.ClearAsync();
    CachedChartItemCount = 0;

    AppState.CurrentSite = null;

    StateHasChanged();
  }
}