@page "/settings"
@inject ILocalStorageService LocalStorage
@inject IChartDataCache ChartDataCache
@inject IAppState AppState

<h3>Settings</h3>

<table class="table">
	<thead>
		<tr>
			<th class="w-25" />
			<th class="w-75" />
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<button type="button" class="btn btn-primary" @onclick="ClearLocalStorage">Clear Cache</button>
			</td>
			<td>
				@switch (CachedChartItemCount)
				{
					case 0:
						<p>The cache is empty.</p>
						break;

					case 1:
						<p>@CachedChartItemCount item is in the cache.</p>
						break;

					default:
						<p>@CachedChartItemCount items are in the cache.</p>
						break;
				}
			</td>
		</tr>
	</tbody>
</table>

@code {
	private int CachedChartItemCount { get; set; }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			CachedChartItemCount = await ChartDataCache.GetCount(AppState.SiteId);
			StateHasChanged();
		}
	}

	private async Task ClearLocalStorage()
	{
		await LocalStorage.ClearAsync();
		CachedChartItemCount = 0;

		StateHasChanged();
	}
}