@using System.Security.Claims

<table class="table table-settings">
  <tbody>
    <tr class="row">
      <th scope="row" class="col-sm-4 col-md-3">User Identity</th>
      <td class="col-sm-8 col-md-9 pr-4">@_userPrincipleName</td>
    </tr>
    <tr class="row">
      <td colspan="2" class="col-12">
        <!-- forceLoad is required to bypass client-side routing -->
        <button class="btn btn-outline-primary btn-width-medium mt-2" @onclick="() => NavigationManager.NavigateTo(SignOutUrl, true)">Sign Out</button>
      </td>
    </tr>
  </tbody>
</table>

@code {
  [CascadingParameter] private Task<AuthenticationState> AuthenticationStateTask { get; set; }

  [Inject] private NavigationManager NavigationManager { get; set; }

  private const string SignOutUrl = "AzureAD/Account/SignOut";

  private string _userPrincipleName;

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    var user = (await AuthenticationStateTask).User;
    _userPrincipleName = user.Claims.SingleOrDefault(item => item.Type == ClaimTypes.Upn)?.Value;
  }
}
