<div class="d-flex">
  <button class="ml-auto" @onclick="DeleteChart">Remove</button>
</div>
<div>
  <SfChart Title=@($"Period: {ChartData.StartDate:yyyy-MM-dd} to {ChartData.EndDate:yyyy-MM-dd}")>

    @*<ChartZoomSettings EnableMouseWheelZooming="true" EnablePinchZooming="true" EnableSelectionZooming="true"/>*@

    <ChartArea>
      <ChartAreaBorder Width="1" />
    </ChartArea>

    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelFormat="{value}"
                       IntervalType="IntervalType.Auto" EdgeLabelPlacement="EdgeLabelPlacement.Shift" />

    <ChartPrimaryYAxis LabelFormat="{value}W" Minimum="0" Maximum=@_maxWatts Interval="500" />

    <ChartTooltipSettings Enable="true" />

    <ChartSeriesCollection>
      @*red*@
      <ChartSeries DataSource=@_timeWatts Opacity="0.8" Fill="#d12e2e"
                   Name=@nameof(TimeWatts.Consumption) XName=@nameof(PowerData.Time)
                   YName=@nameof(TimeWatts.Consumption) Type="ChartSeriesType.SplineArea">
      </ChartSeries>

      @*green*@
      <ChartSeries DataSource=@_timeWatts Opacity="0.8" Fill="#2bab4d"
                   Name=@nameof(TimeWatts.Production) XName=@nameof(PowerData.Time)
                   YName=@nameof(TimeWatts.Production) Type="ChartSeriesType.SplineArea">
      </ChartSeries>

      @*blue*@
      <ChartSeries DataSource=@_timeWatts Opacity="0.6" Fill="#316bde"
                   Name=@nameof(TimeWatts.SelfConsumption) XName=@nameof(PowerData.Time)
                   YName=@nameof(TimeWatts.SelfConsumption) Type="ChartSeriesType.SplineArea">
      </ChartSeries>
    </ChartSeriesCollection>
  </SfChart>
</div>

@code {

  [CascadingParameter] public ChartContainer Parent { get; set; }
  [Parameter] public ChartData ChartData { get; set; }

  private class TimeWatts
  {
    public string Time { get; }
    public double Consumption { get; set; }
    public double Production { get; set; }
    public double FeedIn { get; set; }
    public double Purchased { get; set; }
    public double SelfConsumption { get; set; }

    public TimeWatts(string time, WattsData watts)
    {
      Time = time;
      Consumption = watts.Consumption;
      Production = watts.Production;
      FeedIn = watts.FeedIn;
      Purchased = watts.Purchased;
      SelfConsumption = watts.SelfConsumption;
    }
  }

  private double _maxWatts;
  private IReadOnlyList<TimeWatts> _timeWatts;

  protected override void OnParametersSet()
  {
    base.OnParametersSet();

    if (Parent == null)
    {
      throw new InvalidOperationException($"The {nameof(Parent)} parameter must be initialized");
    }

    if (ChartData?.Power == null)
    {
      throw new InvalidOperationException($"The {nameof(ChartData)} parameter must be initialized with power data");
    }

    _timeWatts = ChartData.Power
      .Select(item => new TimeWatts(item.Time, item.Watts))
      .AsReadOnlyList();

    CalculateChartLimits();
  }

  private void CalculateChartLimits()
  {
    var powerData = ChartData.Power;

    var maxWatts = powerData
      .Max(item =>
      {
        var watts = item.Watts;

        return new[]
        {
          watts.Consumption,
          watts.Purchased,
          watts.SelfConsumption,
          watts.FeedIn,
          watts.Production
        }.Max();
      });

    _maxWatts = (1 + Math.Floor(maxWatts / 500d)) * 500d;        // intervals of 500 on chart
  }

  private async Task DeleteChart()
  {
    await Parent.DeleteChart(ChartData.Id);
  }
}
