@*<AuthorizeView>
    <Authorized>
        Logged in as @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>
        <a href="AzureAD/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>*@